@using System.Globalization
@model (IReadOnlyCollection<OfferDto> offers, Guid? currentCustomerId)
@inject UserManager<IdentityUser> UserManager

<div class="container-fluid text-left">
	@foreach (var offer in Model.offers)
	{
		<div class="row pb-4 mt-4 border-bottom">
			<div class="d-flex justify-content-between px-2">
				<div class="image-slider align-items-center">
					@{
						var images = offer.Photos.Where(x => x.Image != null);
					}
					@foreach (var image in images)
					{
						if (image.Image != null)
						{
							<photo-item v-bind:id="'@image.Id'"></photo-item>
						}
					}
				</div>
				<blockquote class="blockquote mb-0 mx-2">
					<h4>@offer.Title</h4>
					<p>@offer.Description</p>
					<p>Цена: @offer.Price.ToString(CultureInfo.CurrentCulture)</p>
					<p>
						Телефон:
						@if (User.Identity.IsAuthenticated)
						{
							<phone-link v-bind:id="'@offer.Id'"></phone-link>
						}
						else
						{
							<span title="Может увидеть только зарегистрированный пользователь">********</span>
						}
					</p>
					<p>
						@if (Model.currentCustomerId != offer.CustomerId && User.Identity.IsAuthenticated)
						{
							<message-button v-bind:offer-owner-id="'@offer.CustomerId'"
							                v-bind:offer-id="'@offer.Id'"
							                v-bind:current-customer-id="'@Model.currentCustomerId'">
							</message-button>
						}
					</p>
				</blockquote>
			</div>
		</div>
	}
</div>

<photo-modal></photo-modal>
<message-modal></message-modal>