@using System.Globalization
@model (IReadOnlyCollection<OfferDto> offers, Guid? currentCustomerId)
@inject UserManager<IdentityUser> UserManager

<div class="container-fluid text-left">
	@foreach (var offer in Model.offers)
	{
		<div class="row pb-4 mt-4 border-bottom">
			<div class="d-flex justify-content-between px-2">
				<div class="image-slider align-items-center">
					@{
						var images = offer.Photos.Where(x => x.Image != null);
					}
					@foreach (var image in images)
					{
						if (image.Image != null)
						{
							<photo-item v-bind:id="'@image.Id'"></photo-item>
						}
					}
				</div>
				<blockquote class="blockquote mb-0 mx-2">
					<h4>@offer.Title</h4>
					<p>@offer.Description</p>
					<p>Цена: @offer.Price.ToString(CultureInfo.CurrentCulture)</p>
					<p>
						Телефон:
						@if (User.Identity.IsAuthenticated)
						{
							<phone-link v-bind:id="'@offer.Id'" />
						}
						else
						{
							<span title="Может увидеть только зарегистрированный пользователь">********</span>
						}
					</p>
					<p>
						@if (Model.currentCustomerId != offer.CustomerId && User.Identity.IsAuthenticated)
						{
							<message-button v-bind:offer-owner-id="'@offer.CustomerId'"
							                v-bind:offer-id="'@offer.Id'"
							                v-bind:current-customer-id="'@Model.currentCustomerId'">
							</message-button>
						}
					</p>
				</blockquote>
			</div>
		</div>
	}
</div>

<photo-modal />

<!-- Message modal -->
<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Новое сообщение</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<label for="Message">Текст сообщения</label>
					<textarea id="Message" name="Message" class="form-control"></textarea>
					<span class="text-danger" id="submittingError"></span>
					<span class="text-success" id="submittingSuccess"></span>
				</div>
			</div>
			<div class="modal-footer">
				<input type="hidden" value="@Model.currentCustomerId" id="CurrentCustomerId" name="CurrentCustomerId" />
				<input type="hidden" id="OfferOwnerId" name="OfferOwnerId" />
				<input type="hidden" id="OfferId" name="OfferId" />
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Отмена</button>
				<button type="button" class="btn btn-primary" id="sendMessage">Отправить</button>
			</div>
		</div>
	</div>
</div>